.exit-button {
    -fx-font-size: 18px;
    -fx-background-color: #f44336;
    -fx-text-fill: white;
    -fx-padding: 10 30;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 6, 0.3, 0, 2);
}

.exit-button:hover {
    -fx-background-color: #d32f2f;
}

.game-image {
    -fx-effect: dropshadow(gaussian, gray, 10, 0.5, 0, 0);
    -fx-cursor: hand;
    -fx-smooth: true;
}

.game-image:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.main-layout {
    -fx-background-color: linear-gradient(to bottom, #e8eaf6, #ffffff);
}